<title>Home</title>

<h1>Welcome to ToDo</h1>
<div>See ToDo
    <a href="/index">Here</a>
</div>
<a href="/register">Register</a>
<div>Alredy a user 
    <a href="/login">Login Here</a>
</div>