<title>Registration</title>

<form action="/user/signup" method="POST">
<label for="name">Username
    <input type="text" name="username">
</label><br>

<label for="email">Email
    <input type="email" name="email">
</label><br>

<label for="mobile">Mobile
    <input type="text" name="mobile">
</label><br>

<label for="password">Password
    <input type="password" name="password">
</label><br>

<input type="submit" value="Register">
</form>